/* Full control */
.App {
  text-align: center;
}

/* Employee details table */
.data-table{
  display: none;
}

/* Search box */
.searchbox {
  display: none;
}
.searchbox input{
  width: 40%;
  height: 1.5rem;
  margin-bottom: 10px;
}

/* Sort Options */
.sort {
  display: none;
}
.sort-options {
  margin-left: 15px;
}

/* Addition of employee */
.add-employee {
  display: none;
}
.addition-details input{
  margin-left: 15px;
  margin-bottom: 15px;
}

/* Salary section */
.salary-table {
  display: none;
}
.salary-table table {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}